{% extends 'base.html' %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title">Selecciona el tipo de proyecto</h5>
        <form action="/recomendar" method="post">
            <div class="form-group">
                <label for="tipo_proyecto">Tipo de Proyecto:</label>
                <select class="form-control" id="tipo_proyecto" name="tipo_proyecto" required>
                    <option value="aplicacion_web">Aplicación Web</option>
                    <option value="reconocimiento_imagenes">Reconocimiento de Imágenes</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Obtener Recomendaciones</button>
        </form>
    </div>
</div>
{% endblock %}
